@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

* {
  margin: 0;
  font-family: 'Sawarabi Gothic', sans-serif;
}

.chatty {
  font-size: 45px;
}

.app {
  display: grid;
  place-items: center;
  background-color: rgba(130, 128, 128, 0.564);
  height: 100vh;
}

.body {
  display: flex;
  background-color: rgba(255, 255, 255, 0.571);
  box-shadow: 2px 2px 20px -3px rgb(46, 43, 43);
  height: 90vh;
  width: 90vw;
}
