.chat {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.chatHeader {
  padding: 20px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}

.chatHeaderInfo {
  flex: 1;
  padding-left: 20px;
}

.chatBody {
  flex: 0.98;
  margin-right: 10px;
  background-image: url(https://image.freepik.com/free-photo/seamless-pattern-with-white-gray-background-with-soft-watercolor-texture_100956-147.jpg);
  border-radius: 20px;
  padding: 20px;
  background-repeat: repeat;
  background-position: center;
}
