.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
}
.sidebarHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
