.sidebar {
  flex: 0.4;
}
.sidebarHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid black;
}

.sidebarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}
